/* style.css */
body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 500px;
    width: 60%;
    padding: 0 10px;
}

.input, .button {
    border-radius: 0 !important;
}

.box {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    padding: 30px;
}

.markdown-body {
    box-sizing: border-box;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    padding: 30px;
}

.gpt-logo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gpt-logo img {
    width: 15%;
    height: 15%;
}
