body {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

.navbar {
    margin-bottom: 20px;
    background-color: #009688; /* Teal color */
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.container-fluid {
    max-width: 1200px; /* Adjust based on your preference */
}

.row {
    margin: 0;
}

.col-md-6 {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.form-control, .btn, .custom-file-label {
    border-radius: 0; /* Material design doesn't use rounded corners for inputs/buttons */
}

/* Simplified content styling */
#simplified-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.loader {
    display: none;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }